/*gallery*/
.gallery {
	margin: 100px 0 0;
	background: $c-white;
	h2 {
		color: $c-blue;
		margin-bottom: 60px;
	}
	.main {
		overflow: hidden;
		margin-bottom: 30px;
		img {
			width: 100%
		}
	}
}
/*gallery*/